main{
  font-family:Arial, Helvetica, sans-serif
}

.header{
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  color:white;
  background-color: rgba(31,42,55);
}

.sub-header{
  color:white;
  height: 500px;
  background-color: rgba(31,42,55,0.8) ;
}

.sign-up{
  font-size: 20px;
  height: auto;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}

.logo {
  width: 159.125px;
  height: 47.75px;
}

.nav-list {
  float:right;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 20px;
}

.nav-list li {
  width: max-content;
  color: white;
}


.flexsub {
  display: flex;
}

.sub-left{
opacity: 100%;
margin-top: 20px;
margin-bottom: 50px;
margin-left: 100px;
margin-right: 100px;
}

.avatar{
  opacity:100%;
  margin-top: 50px;
  margin-right: 50px;
}

.container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:50px;
}

.container div {
  align-items: center;
}

.above-title{
  width: 100%;
  text-align: center;
  color: aqua;
  font-size: 50px;
}

.conanp,
.ranp,
.kogorop,
.hejip {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border-style:double;
}

.conan,
.ran,
.kogoro,
.heji {
  color: aqua;
  text-align: center;
  max-width: 200px;
  font-size: 20px;
}

.mid{
  font-size: 40px;
  display: flex;
  background-color: rgba(169,169,169,0.8);
  border-radius: 15px;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote1{
  font-style: italic;
  color:antiquewhite;
}

.quotefrom{
  font-weight: bold;
  color: antiquewhite;
}

.below{
  height: 200px;
}

.below-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  background-color: rgb(89, 226, 208);
  border-radius: 10px;
}
 .call{
  font-size: 30px;
 }

 .sign-up-text{
  font-size: 20px;
 }

.button-s{
  height: auto;
  margin-left: 200px;
  margin-right: 50px;
  color: white;
  font-size: 25px;
  background-color: cadetblue;
  border-radius: 5px;
}
